<% items.forEach(function (item) { %>
  <a href=<%= item.link %>><%= item.title %></a>
  <%= item.snippet %>
<% }); %>
<script type='text/javascript'></script>
<pre lang='js' style='max-width: 100%;'>
  <%= items %>
</pre>
